
/* rightMenu starts here */
#rightMenu {
	height:35px;
	right:0px;
	top:0;
	position:absolute;
	padding-top: 10px;
	padding-right: 10px;
}

/* topMenu starts here */
#topMenu {
padding-top: 2px;
width: 100%;
height:35px;
display: relative;

}

#topMenu ul,#rightMenu  ul
{
font-family: Arial, Helvetica, sans-serif;
list-style-type:none;
margin:0;
height:25px;
padding:0;
}
#topMenu li,#rightMenu li
{
display: inline;
/* for IE5 and IE6 */

}

#topMenu a,#rightMenu a
{
text-decoration: none;
font-size: 14px;
display: inline;
padding: 3px;
margin-right: 3px;
}

#topMenu a:link, #topMenu a:visited,#rightMenu a:link,#rightMenu a:visited
{
color: #483000;
text-decoration: none;
}

#topMenu a:hover,#rightMenu a:hover
{
background-color: #487890 ;
color: #fff;

}

#topMenu li a#current,#rightMenu li a#current
{
border-bottom: 3px solid #C0C018;
background: #487890 ;
font-size: 16px;
color: #fff;

}

#topMenu li a#raiz,#rightMenu li a#raiz
{
border-bottom: 5px solid #d0d0d8;
background: #a8a890 ;
font-size:20px;
color: #fff;

margin-right: 0px;
font-weight:bold;
display: inline-block;
width:130px;

}


#topMenu {
}
/* Menu 2 ends here */


.hiddenMenu {
width: 136px;
display: inline-block;
float:left;
top:0px;
position: relative;
display: inline-block;
margin-right:15px;


}

/* sideMenu starts here */
.sideMenu {
width: 136px;
float:left;
top:0px;
position: relative;
display: inline-block;
margin-right:15px;
}

.sideMenu ul,.hiddenMenu ul
{
font-family: Arial, Helvetica, sans-serif;
list-style-type:none;
margin:0;
padding:0;


}
.sideMenu li,.hiddenMenu li
{
display: inline;
/* for IE5 and IE6 */

}

.sideMenu a,.hiddenMenu a
{
color: #483000;
text-decoration: none;
font-size: 14px;
display: block;
padding: 3px;
background-color: #F0F0D8;
border-bottom: 1px solid #fff;
}

.sideMenu a:link, .sideMenu a:visited,.hiddenMenu a:link,.hiddenMenu a:visited
{
text-decoration: none;
}

.sideMenu a:hover,.hiddenMenu a:hover
{
background-color: #487890 ;
color: #fff;
}

.sideMenu li a#current
{
border-bottom: 3px solid #C0C018;
background: #487890 ;
color: #fff;
}

.sideMenu li a#raiz_entidades,.hiddenMenu li a#mostra
{
background: #b8b890 ;
color: #fff;
font-weight:bold;
font-size: 14px;
border-bottom: 8px solid #d0d0d8;
}
/* Menu 2 ends here */

a.raiz_projeto{
	background-color:#a8a890;
	color: #fff;
	text-decoration: underline;
}

/*&#x25B6;*/
a.menu_expandido:before{
content:"\25BC";
right:0px;
position:relative;
padding-right: 5px;
}


a.menu_contraido:before{
content:"\25B6";
right:0px;
position:relative;
padding-right: 5px;
}



a.raiz_projeto:hover{
	background-color:#574d00;
	color: #fff;
}



a.menu_propriedade{
	background-color: #F3F3e8;
	padding-left: 20px;
}

a.menu_propriedade:hover{
	background-color: #d3d3b8;
}