<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!-- <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
      <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>-->
      <app-meus-fornecedores *ngIf="loadedFeature === 'meusFornecedores'"></app-meus-fornecedores>
      <app-area-cliente *ngIf="loadedFeature === 'areaCliente'"></app-area-cliente>
      <app-promocao-list *ngIf="loadedFeature === 'promocoes'"></app-promocao-list>
    </div>
  </div>
</div>