/*
574d00
f6fab8
797268
f8d476 laranjado
F0F0D8
#F4F5e8;
c75f3e laranja escuro


\25BC seta pra baixo
\25B6 seta pra direita
\25C0 seta pra esquerda
*/

.mini_container{
    margin: 0 auto;
    width:100%;
    display:block;
}

.lang_article{
    position:relative;top:-1.5em;height:0;color:gray;
}

.inline{
    display:inline;
}
.block{
    display:block;
}


.hidden{
    display:none;
}

.imgLink{
    width:24px;
    height:24px;
    text-align: left;
    float:left;
    margin-right: 6px;
    vertical-align: center;
    position: relative;
    top:-6px;
}

.imgTitulo{
    width:24px;
    height:24px;
    text-align: left;
    margin-right: 6px;
    vertical-align: center;
    position: relative;
    top:5px;
}


.moduloideias{
    float:left;
    width:49%;
}

.lista li{
    list-style-type:none;
    padding-left: 34px;
    font-size: 12px;
    font-weight: normal;
    padding-top: 5px;

}
.lista li a span{
    background-color: #ccc;
    border: 2px solid #ccc;
    -moz-border-radius: 3px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #888888;
}



table{
    border-spacing:1px;
    border-collapse: separate;
}

table caption{
    color:#574d00;
}


h1{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#574d00;
}

h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#574d00;
}

h3{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    color:#574d00;
}

/*
        position: absolute;

*/


footer{
    margin-top: 300px;
}

/*section*/
.destaque{
    margin-top: 20px;
    margin-bottom: 20px;
}

.semitransparente{
    opacity:0.5;
}


/*aba*/
.class_aba{
    margin-top: 20px;
}

.borda{
    border: 1px solid black;
}

.direita{
    float: right;
}

.esquerda{
    float: left;
}



.paddingmedio{
    padding: 10px;
}

.centro{
    text-align: center;
}

.texto_escuro{
    color:#555;
}

/* //// */


strong{
    font-weight: bold;
}


b{
    font-weight: bold;
}

.invisivel{
    display: none;
}
.visivel{
    display: inline;
}

label{
    display:block;
}

a {
    color: #c75f3e;
    text-decoration: none;
}



.fundo{
    background-color: #F0F0D8;
}

.fundoclaro{
    background-color: #fefefa;
}

.caixa{
    -moz-border-radius: 1px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px #888888;
}


.titulo,caption{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px; 
    text-decoration:none;

    padding-left: 10px;
    /*padding-top: 20px;*/
    text-align:left;
}


.subTitulo{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px; 
    text-decoration:none;
    color:#555;
    padding-left: 20px;

}

