
.menu li a{
	height:100%;
}

.menu li a#raiz
{
	border-bottom: 0px solid #d0d0d8;
	background: #a8a890 ;
	font-size:20px;
	color: #fff;

	margin-right: 0px;
	font-weight:bold;
	width:120px;


}
.menu a
	{
	color: #483000;
	}


.menu{
	top:0;
	left:0;
	width:100%;
	font:13px/27px Arial,sans-serif;
	color:#483000;
	background:#F0F0D8;
	float:left;
	margin-bottom: 10px;
	height:30px;
}

.menu a:hover{
background-color:#b8b890;
color:white;
}

/*menu*/
.menu a{
	text-decoration:none;
	outline:none;
	border-bottom:0;
	display:block;
	height:22px;
	padding:0 8px 0 8px;
	position:relative;
	z-index:1;

}
.menu ul{
	list-style:none;
	margin:0;
	/*padding:0 0 0 10px;*/
}

.menu ul li{
	padding:0;
	float:left;
}

.menu ul li ul li{
	padding:0;
	float:none;
	margin:0 0 0 0px;
	width:100%;
}

.menu ul li ul{
	position:absolute;
	/*border:1px solid #C3D1EC;*/
	/*box-shadow*/
	-webkit-box-shadow:0 1px 5px #CCCCCC;
	   -moz-box-shadow:0 1px 5px #CCCCCC;
	        box-shadow:0 1px 5px #CCCCCC;
	margin-top:-1px;
	display:none;
	padding:0px 16px 0px 0;
}
.active ul{
	display:block !important;
	width: 150px; /*tamanho do menu*/
}


.single ul{
	display:block !important;
}

.active a{
	border-bottom:0;
	display:block;
	height:22px;
	padding:0 8px 0 8px;
	position:relative;
	z-index:1;
	/*color:#3366CC;*/
}

/*Styling for the link of the current page*/
.current a{
	background-color:#2D2D2D;
	border-top:2px solid #DD4B39;/*red ribbon at top*/
	border-bottom:0;
	display:block;
	height:25px;
	padding:0 8px 0 8px;
	position:relative;
	z-index:1;
	color:#FFFFFF;
	font-weight:bold;
}
.active a:hover{
background-color:#b8b890;
color:white;
}
/*
.active ul a:hover{
background-color:#e4ebf8;
}*/


/*menu ativo*/
.active ul a{
	border:0 !important;

	-webkit-box-shadow:0 0 0 #CCCCCC;
	   -moz-box-shadow:0 0 0 #CCCCCC;
	        box-shadow:0 0 0 #CCCCCC;
	border:0;
	width:100%;
	background-color: #F0F0D8;
}
.arrow{
border-color:#C0C0C0 transparent white;
border-style:solid dashed dashed;
margin-left:5px;
position:relative;
/*top:10px;*/
}
.arrow:after{
	content: "\25BC";
}

.mid-line{
background-color:#FFF;
border-top:1px solid #e5e5e5;
font-size:0;
}



.menu_direita {
	float:right;
	position: relative;
	right:100px;
}

.menu_direita  .active{
	
}